.op
  .op-top
  .op-mid
  .op-bottom
  .op-logo
    = embedded_svg("kh_logo.svg", {class: 'title_logo'})
.main_page
  .top
  .modal
    .modal_content
      .modal_close
        = embedded_svg("x_btn.svg", {})
      .modal_item
  .wrapper
    %header
      = embedded_svg("kh_logo.svg", {class: 'header_logo home_button'})
      %nav
        %ul
          %li.about_button.current
            = embedded_svg("about.svg", {})
          %li.news_button
            = embedded_svg("schedule.svg", {})
          %li.works_button
            = embedded_svg("works.svg", {})
          %li.contact_button
            = embedded_svg("contact.svg", {})
    %main
      .slides
        .slide-1
          = image_tag 'S__22896684.jpg', alt: '', height: '572px', width: '577px'
          .slide-1_text
            %span Versatility
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, consequatur.

    %footer
      = link_to('https://twitter.com/kota_h0307', target: :_blank) do
        %i.fab.fa-twitter
      = link_to("https://www.instagram.com/explore/tags/%E6%A9%8B%E6%9C%AC%E5%AD%9D%E5%A4%AA/", target: :_blank) do
        %i.fab.fa-instagram
      = link_to('https://www.facebook.com/kota.hashimoto.79', target: :_blank) do
        %i.fab.fa-facebook-square
      %p ©2020 Kota Hashimoto
