.input-area
  = f.label :title, 'タイトル'
  = f.text_field :title 
.input-area
  = f.label :title_link, 'リンク(タイトル)'
  = f.text_field :title_link
.input-area
  .image-file
    = f.fields_for :images do |img|
      .image-file-field
        %label 画像#{img.index + 1}
        %label{for: "live_images_attributes_#{img.index}_file"}
          = img.file_field :file, class: 'hidden-field image-input'
          = img.check_box :_destroy, class: 'hidden-field image_delete'
          .thumb
            -if img.object.file.present?
              = image_tag img.object.file.url, height:200
          .add-btn
            = embedded_svg("add.svg", {})
            %p 画像追加
        .btns
          %label.swap-btn{for: "live_images_attributes_#{img.index}_file"}
            = embedded_svg("swap.svg", {})
          .delete-btn
            = embedded_svg("x_btn.svg", {})
.input-area.description
  = f.label :description, '詳細'
  = f.text_area :description
.detail-area
  = f.fields_for :details, multiple: true do |detail|
    .detail-area-item{id: "detail-#{detail.index}"}
      .input-area
        = detail.label :date, '開催日'
        = detail.text_field :date , type: 'date'
      .input-area
        = detail.label :place, '開催地'
        = detail.text_field :place
      .input-area
        = detail.label :place_link, 'リンク(開催地)'
        = detail.text_field :place_link
      .input-area.open_start
        .time
          = detail.label :open_time, 'Open'
          = detail.text_field :open_time, type: 'time'
        .time
          = detail.label :start_time, 'Start'
          = detail.text_field :start_time, type: 'time'
      .input-area
        = detail.label :ex_description, '追記'
        = detail.text_field :ex_description
      %label.delete-details
        = detail.check_box :_destroy, class: 'hidden-field detail_delete'
        = embedded_svg("x_btn.svg", {})
.add-details
  .add-btn
    = embedded_svg("add.svg",{})

.page-bottom-btns
  %ul.btns
    %li.btn
      = f.submit '登録', class: 'submit'
    - if local_assigns[:edit_flag].present?
      %li.btn
        = link_to 'キャンセル', "/lives", class: 'cancel'

