.input-area
  = f.label :title, 'タイトル'
  = f.text_field :title 
.input-area
  = f.label :title_link, 'リンク(タイトル)'
  = f.text_field :title_link
.input-area
  .image-file
    = f.fields_for :images, multiple: true do |img|
      .image-file-field
        -if img.object.file.present?
          .thumb
            = image_tag img.object.file.url, height:200
          .btns
            %label.swap-btn
              = img.file_field :file, class: 'hidden-field'
              = embedded_svg("swap.svg", {})
            .delete-btn{data:{id: img.index}}
              = embedded_svg("x_btn.svg", {})
        - else
          %label.add-btn
            = img.file_field :file, class: 'hidden-field'
            = embedded_svg("add.svg", {})
            %p 画像追加

        -# = f.hidden_field :images, value: img.object.id
-# .input-area
-#   = f.label :image, '画像'
-#   = f.file_field :image
  -# - if local_assigns[:edit_flag].present?
  -#   = f.label :remove_image, '画像削除'
  -#   = f.check_box :remove_image
.input-area
  = f.label :description, '詳細'
  = f.text_area :description
= f.fields_for :details, multiple: true do |detail|
  .input-area
    = detail.label :date, '開催日'
    = detail.text_field :date , type: 'date'
  .input-area
    = detail.label :place, '開催地'
    = detail.text_field :place
  .input-area
    = detail.label :place_link, 'リンク(開催地)'
    = detail.text_field :place_link
  .input-area
    .time
      = detail.label :open_time, 'Open'
      = detail.text_field :open_time, type: 'time'
    .time
      = detail.label :start_time, 'Start'
      = detail.text_field :start_time, type: 'time'
  .input-area
    = detail.label :ex_description, '追記'
    = detail.text_field :ex_description
.add-details
  .add-btn 追加

.page-bottom-btns
  %ul.btns
    %li.btn
      = f.submit '登録', class: 'submit'
    - if local_assigns[:edit_flag].present?
      %li.btn
        = link_to 'キャンセル', "/lives", class: 'cancel'

