.lives
  %h2 Live Information
  .lives_future
    %p UPCOMING
    - @future_lives.each do |live|
      .lives_info
        .lives_info_title
          .date
            = live.details[0].date.strftime("%Y/%m/%d(%a)") if live.details[0].date.present?
          - if live.title_link
            = link_to live.title_link, target: :blank do
              %h3 #{live.title}
          - else
            %h3 #{live.title}
        .lives_info_sub
          .lives_info_sub_img
            - if live.images[0].present?
              = image_tag live.images[0].image.url , alt: '', height: '100px', width: '150px'
            - else
              LIVE
          .lives_info_sub_text
            = simple_format(live.description)
            .lives_info_text_time
              = "Open: #{live.details[0].open_time.strftime("%-H:%M")}" if live.details[0].open_time.present?
              = "Start: #{live.details[0].start_time.strftime("%-H:%M")}" if live.details[0].start_time.present?
  .lives_past
    %p PAST


