.admin
  .admin_title
    管理画面
  .admin_btn-add
    = link_to new_live_path do
      = embedded_svg("add.svg", {})
      新規登録

  %ul.list-schedules
    - @lives.each do |live|
      %li.list-schedules-item
        .item-ttl
          - if live.title_link.present?
            = link_to "#{live.title}", "#{live.title_link}", target: :blank
          - else
            = live.title
        .item-date
          - live.details.each do |detail|
            - if detail.date.to_s.present?
              = detail.date.strftime("%Y/%m/%d(%a)")
            - else
              日程未定
        %ul.item-thumbnails
          - if live.images.present?
            - live.images.each do |img|
              %li.thumbnail
                = image_tag img.file.url, height: 300, width: 300
        .item-description
          = live.description
        .item-details
          - live.details.each do |detail|
            .item-details-exdescription
              = detail.ex_description
            .item-details-place
              - if detail.place_link.present?
                = link_to detail.place , detail.place_link, target: :blank
              - elsif detail.place.present?
                = detail.place
            .item-details-time
              - if detail.open_time.present?
                %p Open:  #{detail.open_time}
              - if detail.start_time.present?
                %p Start: #{detail.start_time}
        %ul.item-btns
          %li.btn
            = link_to edit_live_path(live.id) do
              = embedded_svg("edit.svg", {})
          %li.btn.modal_open{data:{live: "true", id: live.id, title: live.title, description: live.description}}
            -# = link_to live_path(live.id), method: :delete do
            = embedded_svg("delete.svg", {})
.modal
  .modal_content
    .modal_close
      = embedded_svg("x_btn.svg", {})
    .modal_item
